
  .bg-to-do {
    background-color: #007bff; /* Blue for "To Do" */
    color: #fff;
  }
  
  .bg-in-progress {
    background-color: #ffc107; /* Yellow for "In Progress" */
    color: #fff;
  }
  
  .bg-done {
    background-color: #28a745; /* Green for "Done" */
    color: #fff;
  }
  
  .bg-secondary {
    background-color: #6c757d; /* Default secondary color */
    color: #fff;
  }
  .bg-failed{
    background-color: #DC3545;
    color: #fff;
  }
  .card-title{
    margin: 0;
  }
  